
header {
	background-color: #305A30;
	height: 60px;
}

header > .row {
	align-content: bottom;
	display: inline-flex;
	bottom: 0;
	width: 100%;
}

.tabs {
	background-color: #92C591;
	height: 40px;
	width: 80%;
	min-width: 50px;
	text-align: center;
	padding: 20px 5px 0px 5px;
	position: absolute;
}

/*A style guide for the map ID object*/
#map {
	margin: 0px auto;
	width: 1280px;
	height: 720px; 
}

#headerMain {
	margin: 0px auto;
	color: #E8F3E8;
	padding-left: 20%;
    font-size: 30px;
}

body {
	margin-top: 60px;
	background-color: #E8F3E8;
	height: 100%;
	/* width: 100%; */
}

.container {
    font-size: 18px;
	width: 80%;
}

.container > .row {
	display: flex;
}


footer {
	background-color: #0A3409;
	color: #559E54;
	width: 100%;
	position: relative;
	bottom: 0px;
	height: max-content;
	align-content: center;
}

footer > .row > .col-2 {
	margin: auto;
}
