header {
	background-color: #305A30;
	height: 60px;
}

header > .row {
	align-content: bottom;
	display: inline-flex;
	bottom: 0;
	width: 100%;
}

.tabs {
	background-color: #92C591;
	height: 40px;
	width: 80%;
	min-width: 50px;
	text-align: center;
	padding: 20px 5px 0px 5px;
	position: absolute;
}

/*A style guide for the map ID object*/
#map {
	margin: 10px auto;
	width: 1280px;
	height: 720px;
}

#headerMain {
	margin: 0px auto;
	color: #E8F3E8;
	padding-left: 20%;
    font-size: 30px;
}

body {
	margin-top: 60px;
	background-color: #9BD770;
	height: 100%;
}

.container {
    font-size: 18px;
	width: 80%;
	background-color: #E8F3E8;
}

.container > .row {
	display: flex;
}


footer {
	background-color: #0A3409;
	color: #559E54;
	width: 100%;
	position: relative;
	bottom: 0px;
	height: max-content;
	align-content: center;
}

footer > .row > .col-2 {
	margin: auto;
}

/*  style for items with the class "descriptionPanel" */
.descriptionPanel {
	position: absolute;
	bottom: 20px;
	right: 15px;
	z-index: 2;
	width: 300px;
	height: 40px;
	background: rgba(80, 80, 80, 1);
	color: white;
	transition: width 2s, height 2s;
	overflow: hidden;
	border-radius: 7px;
	}

/* style for items with the class "chevron" */
.chevron {
	position: relative;
	margin-left: 30%;
	font-size: x-large;
	color: white;
	}

.descriptionPanel > h4, .descriptionPanel > p {
	margin-left: 10px;
}

/* style for items with the class "legendItem" */
.legendItem {
	float: left;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* style for items with the class "colorBox" */
.colorBox {
	width: 20px;
	height: 20px;
	float: left;
	border-radius: 10px;
	margin-left: 10px;
}

/* style for items with the class "layerDescription" */
.layerDescription {
	color: white;
	float: left;
	margin-left: 10px;
}


table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table {
  border-spacing: 15px;
}
